version: "3.9"

services:
  upgonx:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: upgo-nx-dev
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - postgres
    command: npm run dev
    restart: unless-stopped

  postgres:
    image: postgres:16
    container_name: upgo-postgres
    environment:
      POSTGRES_USER: upgo_user
      POSTGRES_PASSWORD: upgo_pass
      POSTGRES_DB: upgo_db
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  pgdata:
