version: "3.9"

services:
  upgonx:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: upgo-nx-dev
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - postgres
    command: npm run dev
    restart: unless-stopped

  postgres:
    image: postgres:16
    container_name: upgo-postgres
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  minio:
    image: cgr.dev/chainguard/minio
    container_name: minio
    restart: unless-stopped
    ports:
      - "9000:9000" # S3 API
      - "9001:9001" # Web console
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    volumes:
      - ./data/minio:/data
    command: server /data --console-address ":9001"

  deletion-worker:
    build:
      context: .
    command: ["node", "workers/deleteMinioWorker.ts"]
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - minio
      - postgres
    restart: unless-stopped
volumes:
  pgdata:
