version: "3.9"

services:
  upgonx:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: upgo-nx
    env_file:
      - .env
    environment:
      NODE_ENV: production
    depends_on:
      - postgres
      - minio
    restart: unless-stopped

  postgres:
    image: postgres:16-alpine
    container_name: upgo-postgres
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

  minio:
    image: cgr.dev/chainguard/minio
    container_name: minio
    restart: unless-stopped
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    volumes:
      - ./data/minio:/data
    command: server /data --console-address ":9001"

  deletion-worker:
    build:
      context: .
      dockerfile: Dockerfile.prod
    command: ["node", "workers/deleteMinioWorker.js"]
    depends_on:
      - minio
      - postgres
    restart: unless-stopped
    env_file:
      - .env

  nginx:
    image: nginx:alpine
    container_name: upgo-nginx
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      - upgonx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro

volumes:
  pgdata:
  minio_data:
